.dashboard-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: normal;
    gap: 20px;
    width: 90%;
    margin: 0px auto;
}

.dashboard-top {
    display: flex;
    flex-direction: row;
    gap: 19px;
}

.dashboard-bottom {
    display: flex;
    flex-direction: row;
    gap: 19px;
}

.dashboard-top-left {
    width: 69%;
}

.dashboard-top-right {
    width: 30%;
    display: flex;
    gap: 19px;
    flex-direction: column;
}

.dashboard-bottom-left {
    width: 69%;
    display: flex;
    flex-direction: row;
    gap: 19px;
}

.dashboard-bottom-right {
    width: 30%;
}

.top-right-dash {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 19px;
}

.charts {
    width: 100%;
    height: 70%;
    margin: 0px auto;
}

canvas {
    padding: 12px;
    height: 100% !important;
}

.top-left-dash {
    height: 100%;
    border-radius: 10px;
    border: 0.5px solid var(--color-gray-10, #ffffff86);
    background: rgba(73, 73, 73, 0.12);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 20px 100px 0px;
    backdrop-filter: blur(6px);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.top-balance {
    color: rgba(245, 245, 245, 0.216);
    display: inline-flex;
    align-items: flex-start;
    gap: 62px;
    padding: 20px 0px;
    width: 100%;
    justify-content: space-around;
}

.container-div-balance {
    display: flex;
    flex-direction: column;
}

.title-balance {
    color: var(--color-gray-10, #FFF);
    font-style: normal;
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
}

.amount-balance {
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 44px;
    background: linear-gradient(75deg, rgb(230, 207, 255) -7.15%, rgb(126, 35, 244) 112.05%) text;
    -webkit-text-fill-color: transparent;
}

.losses-divs {
    display: flex;
    gap: 10px;
    align-items: center;
}

.profits-divs {
    display: flex;
    gap: 10px;
    align-items: center;
}

.icons-spans-balance-profits {
    display: inline-flex;
    height: 18px;
    padding: 3px 8px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 58px;
    background: rgba(5, 205, 153, 0.1);
}

.icons-spans-balance-losses {
    display: inline-flex;
    height: 18px;
    padding: 3px 8px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 58px;
    background: rgba(205, 5, 5, 0.1);
}

.icons-up-green {
    color: rgb(5, 205, 153);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    font-size: medium;
}

.icons-up-red {
    color: rgb(216, 61, 108);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    font-size: medium;
}

.amount-balance-profits {
    color: rgb(5, 205, 153);
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 44px;
}

.amount-balance-losses {
    color: rgb(255, 51, 24);
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 44px;
}

.add-transaction {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background: linear-gradient(100deg, rgb(38, 15, 184) -36.4%, rgb(151, 71, 255) 131.27%), rgb(110, 48, 245);
}

.top-trensac {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;
}

.check-transaction {
    display: flex;
    padding: 10px 0px;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
    align-self: stretch;
}

.description-top-transaction {
    color: rgb(228, 235, 255);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 191%;
    text-transform: capitalize;
}

.text-check {
    color: var(--color-gray-10, #FFF);
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 19px;
    text-transform: uppercase;
}

.add-transaction-button {
    color: var(--sd, #000);
    font-style: normal;
    font-weight: 600;
    line-height: 19px;
    display: flex;
    font-family: Poppins, sans-serif;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 900px;
    border: 1px solid var(--color-gray-10, #FFF);
    background: var(--color-gray-10, #FFF);
    padding: 5px 13px;
    font-size: 15px;
}

.button-showprofile {
    align-self: flex-end;
    padding: 6px 0.5rem;
}

.membre-of-month {
    border-radius: 10px;
    border: 0.5px solid var(--color-gray-10, #FFF);
    background: rgba(73, 73, 73, 0.12);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 20px 100px 0px;
    backdrop-filter: blur(6px);
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 7px;
    height: -webkit-fill-available;
    justify-content: center;
}

.title-membre {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 0px 4px 15px;
    justify-content: left;
}

.title-membre-text {
    color: var(--Grey-White, var(--color-gray-10, #FFF));
    font-feature-settings: "clig" 0, "liga" 0;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
}

.user-picture {
    border-radius: 100px;
    width: 120px;
    height: 120px;
    box-shadow: rgb(106, 74, 143) 0px 20px 100px 0px;
    backdrop-filter: blur(6px);
}

.name-user {
    color: var(--color-gray-10, #FFF);
    text-align: center;
    text-shadow: rgba(0, 0, 0, 0.25) 0px 20px 100px;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.273px;
}

.left-middle {
    position: relative;
    top: 0px;
    right: 0px;
}

.rank-decoration {
    width: 86px;
    height: 86px;
    position: absolute;
    top: 60%;
    left: 15%;
}

.middle-mfm {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    padding-left: 15px;
}

.gookie {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
}

.prgh-tn {
    color: var(--color-gray-10, #F5F5F5);
    font-style: normal;
    font-weight: 300;
    line-height: 24px;
    text-transform: capitalize;
    font-size: medium;
}

.gookie div {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.topG-text {
    color: var(--color-gray-10, #FFCA28);
    font-style: normal;
    font-weight: 300;
    line-height: 24px;
    text-transform: capitalize;
    padding-right: 3px;
}

.show-profile-button {
    color: var(--sd, #000);
    font-style: normal;
    font-weight: 500;
    line-height: 19px;
    display: flex;
    padding: 5px 13px;
    justify-content: center;
    font-family: Poppins, sans-serif;
    align-items: center;
    font-size: 15px;
    gap: 10px;
    border-radius: 900px;
    border: 1px solid var(--color-gray-10, #FFF);
    background: var(--color-gray-10, #FFF);
}

.last-transaction-container {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border: 0.5px solid var(--color-gray-10, #FFF);
    background: rgba(73, 73, 73, 0.12);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 20px 100px 0px;
    backdrop-filter: blur(6px);
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px 1rem;
    max-height: 356px;
}

.title-transaction {
    color: rgb(228, 235, 255);
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: -0.4px;
}

.history-user-transc {
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 10px;
}

.profile-user-transaction {
    width: 45px;
    height: 45px;
    border-radius: 39px;
}

.ianloine {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

.line-seperation {
    width: 100%;
    height: 1px;
    background: rgba(255, 255, 255, 0.37);
}

.foll {
    color: rgb(228, 235, 255);
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: -0.3px;
    font-size: medium;
}
.data-transaction , .name-fser{
    display: flex;
}
.data-transaction-text {
    color: rgba(229, 232, 237, 0.78);
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: -0.22px;
    text-transform: uppercase;
    font-size: medium;
}

.transaction-info-text {
    color: rgb(5, 205, 153);
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: -0.22px;
    text-transform: capitalize;
}

.transaction-amount-container {
    float: right;
    color: rgb(5, 205, 153);
    font-style: normal;
    font-weight: 700;
    letter-spacing: -0.28px;
    border-radius: 7px;
    background: rgba(5, 205, 153, 0.1);
    width: fit-content;
    padding: 3px 7px;
    margin-top: 2px;
    font-size: medium;
}

.member-of-month {
    border-radius: 10px;
    border: 0.5px solid var(--color-gray-10, #ffffff86);
    background: rgba(73, 73, 73, 0.12);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 20px 100px 0px;
    backdrop-filter: blur(6px);
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 7px;
    height: -webkit-fill-available;
    justify-content: center;
}

@media screen and (max-width: 768px) {
    .add-transaction, .membre-of-month {
        width: -webkit-fill-available;
        height: auto;
        padding: 10px;
    }

    .top-trensac, .check-transaction, .middle-mfm {
        flex-direction: column;
        gap: 5px;
    }

    .add-transaction-button, .show-profile-button {
        width: auto;
        padding: 10px;
    }

    .user-picture, .rank-decoration {
        width: 80px;
        height: 80px;
        left: 0%;
        top: 50%;
    }
}

.container-sidebar {
    padding: 10px;
}

.topbar {
    position: relative;
    top: 0px;
    left: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    height: 80px;
}

.logo-v {
    width: 129px;
    height: 120px;
}

.fkkk {
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.03);
    display: flex;
    flex-direction: row;
    padding: 5px 10px;
    align-items: flex-start;
    gap: 20px;
}

.nav-slipe {
    flex-direction: row;
    display: flex;
    padding: 10px 27px 6px 7px;
    align-items: flex-start;
    gap: 17px;
    border-radius: 10px;
    background-color: transparent;
}

.nav-slipe:hover {
    border-radius: 10px;
    background: linear-gradient(100deg, rgb(38, 15, 184) -36.4%, rgb(151, 71, 255) 131.27%);
    transition: all 1s ease-in-out 0s;
    cursor: pointer;
}

.van-text {
    color: rgb(245, 245, 245);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
}

.profile-b {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.right-profile {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.profile-imgs {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: rgb(245, 245, 245);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: rgb(32, 22, 84);
    font-weight: 500;
    font-family: Poppins;
    font-style: normal;
    line-height: 28px;
}

.username {
    color: var(--color-gray-10, #FFF);
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: -0.36px;
}

.background-effect {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 916px;
    height: 201px;
    border-radius: 916px;
    background: linear-gradient(90deg, rgba(24, 144, 255, 0.2) 9.01%, rgba(164, 92, 246, 0.2) 94.81%);
    filter: blur(100px);
}

.transactions-history {
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.transactions-history::-webkit-scrollbar {
    width: 0px;
}

.ranking-container {
    width: 100%;
    height: 356px;
    border-radius: 10px;
    border: 0.5px solid var(--color-gray-10, #ffffff86);
    background: rgba(73, 73, 73, 0.12);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 20px 100px 0px;
    backdrop-filter: blur(6px);
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px 1rem;
}

.title-ranking {
    color: rgb(228, 235, 255);
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: -0.4px;
}

.user-ranking-list {
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 10px;
}

.profile-user-ranking {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.profile-user-ranking > .ranking-pic {
    width: 45px;
    height: 45px;
}

.profile-user-ranking > .profile-user-pic {
    width: 45px;
    height: 45px;
    border-radius: 39px;
}

.profile-user-ranking > .profile-user-name {
    color: rgb(228, 235, 255);
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    align-self: center;
    font-size: medium;
}

.ranking-amount-container {
    align-self: center;
}

.ranking-amount-container span {
    float: right;
    color: rgb(5, 205, 153);
    font-style: normal;
    font-weight: 700;
    letter-spacing: -0.28px;
    border-radius: 7px;
    background: rgba(5, 205, 153, 0.1);
    width: fit-content;
    padding: 3px 7px;
    margin-top: 2px;
    font-size: medium;
}

.support-container {
    border-radius: 10px;
    border: 0.5px solid var(--color-gray-10, #ffffff86);
    background: rgba(73, 73, 73, 0.12);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 20px 100px 0px;
    backdrop-filter: blur(6px);
    width: fit-content;
    display: flex;
    flex-direction: column;
    gap: 7px;
    height: 100%;
    align-items: center;
    justify-content: space-evenly;
}

.support-Title {
    color: rgb(228, 235, 255);
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

.support-Title i {
    color: rgba(235, 235, 245, 0.3);
}

.support-paragraph {
    color: var(--color-gray-10, #FFF);
    text-align: center;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    text-transform: capitalize;
    padding: 0px 1rem;
    font-size: medium;
}

.ranking-user {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.check-bf {
    text-align: center;
}

.description-transaction {
    display: inherit;
}

.date-badges {
    font-size: medium;
    color: gray;
}

@media screen and (max-width: 768px) {
    .dashboard-container {
        width: -webkit-fill-available;
        padding: 10px;
    }

    .dashboard-top, .dashboard-bottom {
        flex-direction: column;
        gap: 10px;
    }

    .dashboard-top-left, .dashboard-bottom-left, .dashboard-bottom-right {
        width: -webkit-fill-available;
        flex-direction: column;
    }

    .dashboard-top-right {
        width: 100%;
        flex-direction: column;
        gap: 10px;
    }

    .top-right-dash {
        align-items: center;
    }

    .charts {
        width: 100%;
        height: 300px;
    }

    .top-balance {
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding-left: 3rem;
        width: -webkit-fill-available;
    }

    .last-transaction-container, .ranking-container {
        width: -webkit-fill-available;
    }

    .support-container {
        padding: 1rem 0px;
        width: -webkit-fill-available;
    }
    .modal-dialog {
        background: #fefefe;
        border: #333333 solid 0px;
        border-radius: 10px;
        text-align: center;
        position: fixed;
        left: 73% !important;
        top: -100%;
        z-index: 11;
         width: unset !important; 
        box-shadow: 0 5px 10px rgba(0,0,0,0.3);
        -webkit-transform: translate(0, -500%);
        -ms-transform: translate(0, -500%);
        transform: translate(0, -500%);
        -webkit-transition: -webkit-transform 0.3s ease-out;
        -moz-transition: -moz-transform 0.3s ease-out;
        -o-transition: -o-transform 0.3s ease-out;
        transition: transform 0.3s ease-out;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 20px 100px 0px;
        backdrop-filter: blur(6px);
        border-radius: 10px;
        background: linear-gradient(100deg, rgb(38, 15, 184) -36.4%, rgb(151, 71, 255) 131.27%), rgb(110, 48, 245);
    }
    .modal-header, .modal-footer{
        padding: 10px 10px;
        display: flex;
        justify-content: center;
        gap: 12px;
    }
    .modal-header .btn-close{
        font-size: x-large;
    }
}
.button-30:focus {
    box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    transition: 0.4s;
  
  }
  
  .button-30:hover {
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    transform: translateY(-2px);
    transition: 0.4s;
  
  
  }
  
  .button-30:active {
    box-shadow: #D6D6E7 0 3px 7px inset;
    transform: translateY(2px);
    transition: 0.4s;
  
  }

.modale:before {
    content: "";
    display: none;
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
  }
  .opened:before {
    display: block;
  }
  .opened .modal-dialog {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
    top: 20%;
  }
  .modal-dialog {
    background: #fefefe;
    border: #333333 solid 0px;
    border-radius: 10px;
    margin-left: -245px;
    text-align:center;
    position: fixed;
    left: 50%;
    top: -100%;
    z-index: 11;
    width: 494px;
    box-shadow:0 5px 10px rgba(0,0,0,0.3);
    -webkit-transform: translate(0, -500%);
    -ms-transform: translate(0, -500%);
    transform: translate(0, -500%);
    -webkit-transition: -webkit-transform 0.3s ease-out;
    -moz-transition: -moz-transform 0.3s ease-out;
    -o-transition: -o-transform 0.3s ease-out;
    transition: transform 0.3s ease-out;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 20px 100px 0px;
    backdrop-filter: blur(6px);
    border-radius: 10px;
    background: linear-gradient(100deg, rgb(38, 15, 184) -36.4%, rgb(151, 71, 255) 131.27%), rgb(110, 48, 245);
  }
  .modal-body form {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
  }
  .input-group{
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: baseline;
    width: 100%;
  }
  .input-group label{
    color: white;
    font-size: large;
    font-weight: 400;
  }
  .input-group select{
    background: transparent;
    border: 0.5px solid #e2eded;
    border-color: #eaf1f1 #e4eded #dbe7e7 #e4eded;
    padding: 5px 14px;
    background-color: #fff;
    border-radius: 7px;
    font-size: medium;
    font-weight: 400;
    width: 100%;
    background: white;
    color: black;
    border-radius: 0.25em;
    box-shadow: 0 15px 30px -10px rgba(0, 0, 0, 0.1);
  }
  .modal-body input{
    width: -webkit-fill-available;
    background: transparent;
    border: 0.5px solid #e2eded;
    border-color: #eaf1f1 #e4eded #dbe7e7 #e4eded;
    padding: 0 14px;
    background-color: #fff;
    border-radius: 7px;
    font-size: medium;
    font-weight: 400;
    background: white;
    color: black;
    border-radius: 0.25em;
    box-shadow: 0 15px 30px -10px rgba(0, 0, 0, 0.1);
    height: 40px;
  }
  .modal-header,
  .modal-footer {
    padding: 10px 20px;
    display: flex;
    justify-content: center;
  }
  .modal-header {
    border-bottom: #eeeeee solid 1px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .modal-header span {
    color: white;
    font-size: large;
    font-weight: 600
  }
  .modal-header .btn-close{
    color: var(--WHITE-C);
  }
  @media screen and (max-width: 1440px) {
    .text-check , .add-transaction-button{
        font-size: 12px;
    }
  }
  @media screen and (max-width: 1024px) {
    .top-trensac{
        flex-direction: column;
    }
    .description-top-transaction{
        padding: 0 1rem;
    }
    .middle-mfm{
        flex-direction: column;
    }
    .top-balance{
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: unset;
    }
    .container-div-balance{
        padding: 0 1rem;
    }
    .charts{
        height: 50%;
    }
    .check-transaction{
        flex-direction: column-reverse;
        gap: 0px;
    }
    .main{
        padding: 2rem 0;
    }
  }

  .file-upload {   display: flex;
  text-align: center;
  font-size: 12px;
  width: -webkit-fill-available;
  text-align: justify;
  flex-direction: column;
  gap: 10px;}
  .file-upload label{
    color: white;
    font-size: large;
    font-weight: 400;
  }
  .file-upload .file-select{display:block;border: 2px solid #dce4ec;color: #34495e;cursor:pointer;height:40px;line-height:40px;text-align:left;background:#FFFFFF;overflow:hidden;position:relative;}
  .file-upload .file-select .file-select-button{background:#dce4ec;padding:0 10px;display:inline-block;height:40px;line-height:40px;}
  .file-upload .file-select .file-select-name{line-height:40px;display:inline-block;padding:0 10px;}
  .file-upload .file-select:hover{border-color:#34495e;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}
  .file-upload .file-select:hover .file-select-button{background:#34495e;color:#FFFFFF;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}
  .file-upload.active .file-select{border-color:#3fa46a;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}
  .file-upload.active .file-select .file-select-button{background:#3fa46a;color:#FFFFFF;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}
  .file-upload .file-select input[type=file]{z-index:100;cursor:pointer;position:absolute;height:100%;width:100%;top:0;left:0;opacity:0;filter:alpha(opacity=0);}
  .file-upload .file-select.file-select-disabled{opacity:0.65;}
  .file-upload .file-select.file-select-disabled:hover{cursor:default;display:block;border: 2px solid #dce4ec;color: #34495e;cursor:pointer;height:40px;line-height:40px;margin-top:5px;text-align:left;background:#FFFFFF;overflow:hidden;position:relative;}
  .file-upload .file-select.file-select-disabled:hover .file-select-button{background:#dce4ec;color:#666666;padding:0 10px;display:inline-block;height:40px;line-height:40px;}
  .file-upload .file-select.file-select-disabled:hover .file-select-name{line-height:40px;display:inline-block;padding:0 10px;}