
.contain-all {
    display: flex;
    padding: 1rem 2rem  0 2rem;
}

.main{
    font-family: 'Poppins', sans-serif;
    background: radial-gradient(325.78% 172.71% at 109.69% 123.93%, #201654 1.34%, #120747 100%), radial-gradient(325.78% 172.71% at 109.69% 123.93%, #08041C 1.34%, #000 100%);
    height: 1356px;
}
.container-lesson{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    gap: 15px;
    width: 100%;
}
.lesson-video{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.video-class{
    width: 700px;
    height: 391px;
    border-radius: 32px;
    border: 3px solid #9747FF;
    box-shadow: 0px 8px 4px 0px rgba(0, 0, 0, 0.05), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.lesson-text{
    color: #FFF;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 27px; /* 112.5% */
    text-transform: capitalize; 
}
.lesson-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    padding-top: 10px;
   
}
.lesson{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    position: relative;
}
.next-lesson{
    align-self: flex-end;
}
.iconlike{
    align-self: flex-end;
}
.title-lesson-description{
    
    color: #FFF;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 27px; /* 112.5% */
    text-transform: capitalize; 
}
.description-step-video{
    color: #FFF;
    font-family: Poppins;
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px; /* 142.105% */
    text-transform: capitalize;
    width: 759px;
}
.keep-next{
   text-decoration: none;
    color: #FFF;
    font-family: Poppins;
    font-size: 19px;
    font-style: normal;
    cursor: pointer;
    display: inline-block;
    padding: 5px 20px;
    border-radius: 6px;
    border: 1px solid #FFF;
    transition: 0.5s;

}